<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')  %>

  <body>

    <%- include('./partials/header')  %>

    <section class = "contenedor-generos">
        <h2 class="titulo-generos">Las peliculas del genero <%= genre.name %> son:</h2>
        <div class="contenedor-titulos-generos">
          <% movies.forEach(movie => { %>
            <div class="contenedor-peliculas-generos">
              <div class="generos-img">
                <a href="movies/detail/<%=movie.id%>" class="imagen-hover-generos">
                  <img src="/images/iconoMovies2.png"  alt="" width="325" height="250">
                </a>   
              </div>
              <div class="titulo-peliculas-genero">
                <a class = "link-pelicula" href = '/movies/detail/<%= movie.id %> ' class="nombre-peliculas-generos">  <%= movie.title %> </a><br>
              </div> 
            </div>   
          <% }) %>
          </div>      
      </section>
  </body>

</html>