<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %>

<body>

    <%- include('./partials/header')  %>

    <section class = contenedor-recomendadas>
        <h2 class="titulo-recomendadas">Las pelis mas vistas son</h2>
        <div class="contenedor-titulos-recomendadas">
          <% recommendedMovies.forEach(movie => { %>
            <div class="contenedor-peliculas-recomendadas">
              <div class="movies-img-recomendadas">
                <a href="detail/<%=movie.id%>" class="imagen-hover-recomendadas">
                  <img src="/images/iconoMovies2.png"  alt="" width="325" height="250">
                </a>   
              </div>
              <div class="titulo-peliculas-recomendadas">
                <a href="detail/<%=movie.id%>" class=nombre-recomendadas ><%= movie.title%> </a>
              </div>
            </div> 
          <% }) %>
          </div> 
      </section>
    
</body>
</html>